<div class="form-container">
  <div class="form">    
    <h2 class="title">アカウント確認メール</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class:"subtitle" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"text-form", placeholder: "メールアドレスを入力して下さい" %>
      </div>

      <div class="text-center py-4">
        <%= f.submit t('devise.confirmations.new.resend_confirmation_instructions'), class:"form_button bg-blue-400 hover:bg-blue-600" %>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= render "users/shared/links" %>
  </div>
</div>
